<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center">
  <header class="masthead mb-auto">
  </header>

  <main role="main" class="inner cover">
    <h1 class="cover-heading">View Assignees</h1>
    <p class="lead">
      <%= form_for Repo.new do |f| %>
        <div class="form-group">
          <%= f.text_field :url, class: 'form-control', placeholder: 'https://github.com/someone/repo'  %>
          <small id="emailHelp" class="form-text text-muted">Please enter the URL of a github repository/project</small>
        </div>

        <%= f.submit 'View Issues', class: 'btn btn-primary' %>
      <% end %>
    </p>
  </main>

  <footer class="mastfoot mt-auto">
  </footer>
</div>
