<div class="card collaborator">
  <img class="card-img-top" src="https://placem.at/people?w=150&h=100&random=<%= seed %>" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><%= Faker::Name.name %></h5>
  </div>
</div>
