<% (1..4).each do |seed| %>
  <div class="row collaborator-container">
    <div class="col-4 assigned-issues">
      <%= render "assigned_issues" %>
    </div>

    <div class="col">
      <%= render partial: "collaborator", locals: { seed: seed } %>
    </div>
  </div>
<% end %>
