<div class="row contributor-container">
  <div class="col-4 assigned-issues">
    <%= render "assigned_issues" %>
  </div>

  <div class="col">
    <div class="card contributor">
      <img class="card-img-top" src="<%= contributor.avatar_url %>" alt="<%= contributor.login %>">
      <div class="card-body">
        <h5 class="card-title"><%= contributor.login %></h5>
      </div>
    </div>
  </div>
</div>
