<div class="container-fluid">
  <div class="row outlined">
    <div class="col outlined">
      Issues
    </div>
    <div class="col-3 outlined collaborators">
      <%= render "collaborators" %>
    </div>
  </div>
</div>
