<div class="container-fluid">
  <div class="row">

    <div class="col unassigned-issues">
      <%= render partial: 'issue', collection: @repo.unassigned_issues %>
    </div>

    <div class="col-3 collaborators">
      <%= render partial: 'collaborator', collection: @repo.collaborators, locals: { repo: @repo } %>
    </div>
  </div>
</div>
