<div class="container-fluid">
  <div class="row">

    <div class="col unassigned-issues">
      <%= render partial: 'issue', collection: @issues %>
    </div>

    <div class="col-3 contributors">
      <%= render partial: 'contributor', collection: @contributors %>
    </div>
  </div>
</div>
