.outlined {
  border: 1px solid black;
}

.collaborator-container {
  border-bottom: 1px solid black;
}

.collaborator {
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.collaborators {
  border-left: 1px solid black;
  padding-bottom: 15px;
  height: 1000px;
  overflow-y: auto;
}

.assigned-issues {
  padding-bottom: 10px;
  height: 250px;
  overflow-y: auto;
}

.assigned-issue {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.unassigned-issues {
  height: 1000px;
  overflow-y: auto;
  padding-left: 50px;
  padding-top: 30px;
}

.unassigned-issue {
  margin: 10px;
  width: 300px;
  float: left;
  height: 200px;
  overflow-y: auto;
}

